
/*.remove-assignment-content {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

h1{
  font-family: "Roboto", sans-serif;
  font-size: 3rem; 
  text-align: center;
}

p{
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem; 
  text-align: left; 
}
h2{
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
}

summary{
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem; 

}

h4{
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem; 
  text-align: center;   
}

.hero-container {
  background-color: #403d58;
  color: #fff;
  height: 100vh;
}

.hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.pixabay.com/photo/2019/04/10/23/51/animal-4118585_1280.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

.content-container {
  background-color: #dbd56e;
  height: 250px;
}

.wrapper{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
}

button{
  background-color: white;
  border: #403d58;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  height: 40px;
  width: 100px; 
}

img{
  width: 100%;
  height: 100%;
}
.accordion-container {
  background-color: #fc7753;
  color: #fff;
  height: 400px;

}

.accordion {
  font-family: "Roboto", sans-serif;
  background-color: #fc7753;
  color: black;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  height: 100px;
  text-align: left;
  font-size: 20px;
  border: black;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: white;
  border: #403d58;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  color: black;
}

.footer-container {
  background-color: #f2efea;
  width: 100%;
  height: 300px;
  position: relative;
}

.f-container{
  display: grid;
  grid-template-columns: 50% 50%;
}

footer {
  text-align: center;
  padding: 50px;
  background-color: #f2efea;
  color: black;
  width: 100%;
  height: 300px;
}

